body {
	margin: 50px auto;
	padding: 20px;
}
h1 {
	text-align: center;
	text-transform: uppercase;
	color: #2f93b4;
	position: relative;
}
.column {
	text-align: center;
	margin: 15px 0;
	position: relative;
	right: 4%;
	background: url('https://tablice-magnetyczne.com/userdata/gfx/e63e426f2ac8dcd0ae8182ef442ef7e7.jpg');
	background-position: 50%;
}
.create-column {
	top: 17%;
	left: 50%;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}
.column-title {
	color: #337ab7;
}
.first {
	color: red;
}
.column-container div:nth-of-type(2) h2 {
	color: #f0ad4e;
}
.third {
	color: #5cb85c;
}
.btn-delete {
	position: absolute;
	top: 1%;
	left: 1%;
}
.card {
	border: 2px solid #ccc;
	position: relative;
	display: inline-block;
	margin: 15px 0;
	background-color: #fff;
}
li {
	list-style-type: none;
}
.card-description {
	text-align: center;
	padding: 17px 0;
}
.btn-delete-card {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #d9534f;
	border: none;
	color: #fff;