body {
	margin: 50px auto;
	padding: 20px;
}
h1 {
	text-align: center;
	text-transform: uppercase;
	color: #2f93b4;
	position: relative;
}
.column {
	text-align: center;
	margin: 15px 0;
	position: relative;
	right: 4%;
	background: url('http://tablicaszkolna.pl/userdata/gfx/c1d9b9d2ebb9d2ef26c1c1702fde3a55.jpg');
	background-position: 50%;
}
.create-column {
	top: 17%;
	left: 50%;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}
.column-title {
	color: #337ab7;
}
.first {
	color: red;
}
.column-container div:nth-of-type(2) h2 {
	color: #f0ad4e;
}
.third {
	color: #5cb85c;
}
.btn-delete {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #d9534f;
	border: none;
	color: #fff;
	padding: 6px 12px;
	width: 32px;
	height: 32px;
}
.card {
	position: relative;
	display: inline-block;
	margin: 15px 0;
	background-color: #fff;
	width: calc(33.33337% - 10px);
}
.card:nth-of-type(3n + 2) {
	margin: 15px;
}
li {
	list-style-type: none;
}
.card-description {
	text-align: center;
	padding: 17px 0;
}
.btn-delete-card {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #d9534f;
	border: none;
	color: #fff;
}